{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form action="/distance" method="post">
    <label for="city1" class="mb-3">Departure City:</label>
    <input type="text" id="city1" name="city1" required class="mb-3">
    <br>

    <label for="city2" class="mb-3">Destination City:</label>
    <input type="text" id="city2" name="city2" required class="mb-3">
    <br>

    <input type="submit" class="btn btn-primary" value="Calculate Distance">
</form>

{% endblock %}